{% extends 'core/base.html' %}
{% block title %}Resource Data List{% endblock title %}
{% block main_content %}
    <!-- Main Content -->
    <div id="content">
        <!-- Begin Page Content -->
        <div class="container-fluid">
            <div class="row justify-content-around text-dark text-center mt-2">
                <div class="col-sm-8">
                    <h3>Resource Data List</h3>
                </div>
            </div>
            <div class="row d-flex justify-content-center align-items-center mt-2 h-100">
                <!-- Area Chart -->
                <div class="col-xl-8 col-lg-12">
                    <div class="card shadow mb-4">
                        <form action="" method="POST" class="bg-white p-3 rounded">
                            {% csrf_token %}
                            {{form.as_p}}
                            <input type="submit" value="Submit" class="btn btn-primary">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->
{% endblock main_content%}
